<div class="main dash-schools">
    <div class="section section-gray text-center">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-12">
                    <div class="dash-spacer"></div>
                    <div class="card">
                        <div class="simulador embed-responsive embed-responsive-4by3">
                            <iframe src="https://pamgaiguer.github.io/simuladorescola/" scrolling="yes"></iframe>
                            <!-- sandbox="allow-same-origin allow-scripts" / *ngIf="isMobile == false" -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>