<div class="main fortaleza">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Curitiba</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h4 class="text-center">
                            Curitiba: Flexibilização e Calamidade durante a Pandemia
                        </h4>
                        <h5>Introdução</h5>
                        <p>
                            Assim como aconteceu em São Paulo e nas demais capitais do país, o coronavírus chegou a Curitiba através dos estratos sociais mais altos, para posteriormente se disseminar entre as camadas mais pobres da população. O primeiro caso foi confirmado em 11 de março de 2020 em um homem de 54 anos que havia viajado por Espanha, Portugal e Holanda. O segundo infectado foi confirmado logo em seguida; tratava-se da filha do primeiro infectado, uma jovem de 25 anos, que também havia realizado viagens internacionais<sup>1</sup>.
                        </p>
                        <p>
                            No dia seguinte, confirmaram-se mais três casos, todos de pessoas que haviam viajado para a Europa <sup>2</sup>. Seis dias após o primeiro diagnóstico positivo para Covid-19 e com apenas sete casos confirmados, o prefeito da cidade, Rafael Greca (DEM), expediu o Decreto nº 421, o qual declarava situação de emergência em Saúde Pública em todo o município, limitando a realização de eventos e suspendendo as aulas da rede de ensino municipal. Mesmo com o decreto prevendo a possibilidade de implantação de medidas de quarentena (lockdown), não foi a estratégia escolhida naquele momento <sup>3</sup>.
                        </p>
                        <p>
                            Em 21 de março, o governador do estado do Paraná, Ratinho Júnior (PSD), por meio do Decreto nº 4.942, restringiu ainda mais as atividades, suspendendo o funcionamento de shoppings, feiras, barbearias e academias de ginástica, entre outros serviços<sup>4</sup>. Dois dias depois (23/03), o avanço de casos confirmados no Paraná foi de 900% em relação à semana anterior: de 6 para 60 no estado e de 29 para 33 em Curitiba - com 233 suspeitos ainda sob análise <sup>5</sup>. 
                        </p>
                        <p>
                            A primeira morte por Covid-19 na capital paranaense se deu em 6 de abril, vitimando uma mulher de 56 anos. Seu quadro de comorbidades – diabetes, dislipidemia, anemia e hipotireoidismo - foi crucial para a letalidade da doença <sup>6</sup>.
                        </p>
                        <p>
                            Nove dias após o primeiro óbito, mesmo com o surto epidêmico em crescimento, o prefeito de Curitiba decidiu pela reabertura do comércio e por relaxar o isolamento, preconizando que idosos, pessoas com baixa imunidade e doenças pré-existentes deveriam ficar em casa, em um argumento próximo ao do isolamento vertical <sup>7</sup>.
                        </p>
                        <p>
                            A consequência de tal flexibilização foi um maior número de pessoas nas ruas e a abertura de estabelecimentos e atividades nem um pouco essenciais. Isso, claro, contribuiu para a internalização da doença  na direção de territórios mais pobres, ao deslocar-se do centro. Mais tarde, no dia 22 de maio, até mesmo as igrejas foram liberadas a voltar com suas atividades, desde que, entre outras precauções, mantivessem seus templos com no máximo 30% de ocupação <sup>8</sup>.
                        </p>
                    </div>
                    <div class="card">
                        <h5>Plano de Reabertura</h5>
                        <p>
                            Em 9 de junho, a Prefeitura de Curitiba anunciou oficialmente um plano de monitoramento e reabertura do isolamento social (Figura 1). Neste sistema, são observados indicadores do nível de propagação da doença e da capacidade de atendimento do sistema de saúde. Através dessa observação, as regiões são subdivididas por cores: amarela (nível 1), laranja (nível 2) e vermelha (nivel 3) <sup>9</sup>.
                        </p>
                        <p>
                            Segundo a Secretaria de Saúde de Curitiba, a classificação em estágio “amarelo” representa um alerta de responsabilidade constante, com medidas de precaução a todo tempo. O nível “laranja”, por sua vez, indica um risco médio, onde haverá restrições de funcionamento de áreas com possibilidades de aglomerações. O alto risco, por fim, é representado pela cor “vermelha”, onde apenas serviços essenciais funcionam <sup>10</sup>. 
                        </p>
                        <p>
                            Apenas seis dias após a elaboração do plano, porém, Curitiba deixou a fase amarela para a laranja. Contudo, diferentemente do proposto inicialmente, shoppings centers e galerias comerciais obtiveram permissão para funcionamento com restrição de horário <sup>11</sup>, com a justificativa de que esses ambientes não geram aglomerações.
                        </p>
                        <p>
                            Com o decorrer das semanas, a flexibilização aumentou (Figura 1). Em 21 de julho, cerca de um mês e meio após a cidade ser colocada na bandeira laranja, o Decreto nº 940, da prefeitura de Curitiba, redefinindo proibições da fase de bandeira laranja, liberou o funcionamento de atividades não essenciais. Neste sentido, foi permitido a restaurantes operar até às 22h durante a semana; shoppings, até às 20h. Salões de beleza, barbearias, academias de ginástica e outros serviços não essenciais nem sequer têm restrições de períodos de funcionamento <sup>12</sup>.
                        </p>
                        <p>
                            Em uma semana após o decreto (21/07 a 28/07), houve 3.785 novos infectados e 122 novos óbitos por Covid-19. A taxa de ocupação de leitos nos hospitais públicos ultrapassou 90%. Mesmo assim, Curitiba não foi reclassificada na categoria vermelha <sup>14</sup>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>